html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}


li{
	list-style: none;
}


/*------ Clear Fix ------*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* End hide from IE-mac */
/*----------------------*/






#emails{
	background-color: aqua;
}

.completeMail, #emails div{
	display: inline;
}

#emails li div:nth-child(3), #emails li div:nth-child(4){
	font-weight: bold;
}

#emails li div:nth-child(3){
	margin-right: 4%;
}

#emails li div:nth-child(4):after{
	content: ' - ';
}





.completeMail{
	background-color: yellow;
	float: left;
	width: 100%;
}

.completeMail div:nth-child(3), .completeMail div:nth-child(4){
	font-weight: bold;
}

.completeMail div:nth-child(3){
	margin-right: 4%;
}

.completeMail div:nth-child(4):after{
	content: ' - ';
}


.sentConfirmation{
	display: none;
	float: none;
	position: absolute;
	font-size: 2em;
	padding: 1%;
	top: 0px;
	left: 400px;
	background-color: peru;
	border-radius: 10px;
}


#email{
	display: block;
	background-color: green;
}


#header{
	width: 100%;
	height: 20px;
	background-color: red;
}

#sidebar{
	width: 25%;
	background-color: turquoise;
	float: left;
}

#main{
	width: 70%;
	background-color: blue;
	float: right;
	clear: right;
	margin: 5% 2% 2% 0; 
}

#footer{
	width: 100%;
	background-color: pink;
	float: left;
}

#footer li{
	display: inline-block;
}



#blank-email{
	background-color: orange;
	float: none;
	position: absolute;
	padding: 1%;
	right: 0px;
	border-radius: 10px;
	display: none;
	opacity: 0.85;
}

.to{
	width: 90%;
	float: left;
}

.closeWindow{
	width: 8%;
	float: right;
}


.clickable, #emails>li{
	cursor: pointer;
}